<<<<<<< HEAD
h3{
    width: 400pt;
    height: 3cm;
    border: 2px double gray;
    font-size: 12px;
    padding: 5px 5px 5px 5px;
    margin-left: 650px;
    margin-top: 25px;
    background-color: rgb(255, 239, 210);
=======
h3{
    width: 400pt;
    height: 3cm;
    border: 2px double gray;
    font-size: 12px;
    padding: 5px 5px 5px 5px;
    margin-left: 650px;
    margin-top: 25px;
    background-color: rgb(255, 239, 210);
>>>>>>> b5801b2c3270fdc52ba750ff731ee433f0734f22
}